.divMain {
    width:100%;
    background-color:white;
    margin:auto;
    display :flex ;
    flex-direction:column;
}

.divMainStandard {
    width: 100%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
}



.appformdiv{
        
         display:flex;
         flex-direction:column;
         flex-wrap:wrap;
          padding-bottom:5px;
          /*padding-left:15px;*/
          padding-right:5px;
         
       
       
     }
.HeaderWidth {
    width :100%;
    margin:auto;
}

.appformdivrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5px;
    /*padding-left:15px;*/
    padding-right: 5px;
}
.handle {
    width: 20px;
    height: 20px;
    background-color: black;
}

.resizable {
    padding: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    cursor: se-resize;
}

.appformdivSearch {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5px;
    /*padding-left:15px;*/
    padding-right: 5px;
}

.divMenu {
    border-bottom: solid;
    border-top: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-width: thin;
    background-color: black;
    flex-direction: column;
    height: 100%;
    display: none;
    flex-wrap: wrap;
}

.divMenuBasic {
    border-bottom: solid;
    border-top: solid;
    border-top-color: black;
    border-bottom-color: black;
    border-width: thin;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%
}

divMenu2 {
    border-bottom: solid;
    border-top: none;
    padding-top: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.1em;
    border-bottom-color: black;
    border-width: thin;
    background-color: black;
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.Inputdiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5px;
    width:100%
    /*margin:auto;
    width:50%;*/
    /*padding-left:15px;*/
}

.InputdivLogin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*padding-bottom: 0.5em;*/
    width: 100%;
    height: 6em;
    /*margin:auto;
    width:50%;*/
    /*padding-left:15px;*/
}
.inputtext {
    height: 2.5em;
    width: 100%;
    font:2em;
    border: none;
    border-bottom: solid;
    background-color: aliceblue;
    border-width: thin;
    border-bottom-color: firebrick;

}

.inputtextReadOnly {
    height: 2.5em;
    width: 100%;
    font: x-large;
    border: none;
    border-bottom: solid;
    background-color: lightgrey;
    border-width: thin;
    border-bottom-color: firebrick;
    color:black;
   
}

.inputtextLogin {
    height: 30px;
    width: 100%;
    font: large;
    /*border-radius: 10px;*/
    border: none;
    border-bottom: solid;
    background-color: #f2f2f2;
    border-width :thin;
    border-bottom-color : firebrick ;
}


.LoginButton1, .RegisterButton {
    background-color: #f2f2f2;
    color: black;
    height: 3em;
    border: none;
    border-radius: 10px;
    width: 100%;
}



    .LoginButton1:hover {
        background-color: firebrick;
        Color: white;
        border: none;
        border-radius: 10px;
    }

    .RegisterButton:hover {
        background-color: firebrick;
        Color: white;
        border: none;

    }
.ddlinput {
    height: 40px;
    width: 100%;
    font:x-large;
    border: none;
    border-bottom: solid;
    border-width: thin;
    border-bottom-color: firebrick;
    font: large;
    background-color: aliceblue;
}
.ddlSearch {
    height: 40px;
    width: 100%;
    font: x-large;
    border: none;
    border-bottom: solid;
    border-width: thin;
    border-bottom-color: firebrick;
    font: large;
    background-color: aliceblue;
}

.ddlinputLogin {
    height: 30px;
    width: 25%;
    /*border-radius: 10px;*/
    border: none;
    border-bottom: solid;
    border-width:thin;
    border-bottom-color: firebrick;
    font: large;
    background-color :aliceblue;
}
.MenuLink2 {
    border: solid;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    display: inline-block;
    border-width: thin;
    padding-left: 10px;
    padding-bottom: 2px;
    background-color: firebrick;
    color: white;
}


.LoginStatus {
    font-style: normal;
    text-decoration: none;
    color: white;
    border: none;
    background-color: green;
    height: 1.5em;
    /*float:right;*/
    /*float: none;*/
    /*padding-right:0.4em;*/
    /*margin-left:0.5em;*/
    padding-top: 0.4EM;
}


.MenuLink {
    font-style: normal;
    text-decoration: none;
    color: white;
    border: none;
}

.MenuLinkHighlighted {
    font-style: normal;
    text-decoration: underline;
    color: lightskyblue;
    border: none;
}

.btn {
   /*' display: inline-block;*/
    font-style: normal;
    text-decoration: none;
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
    /*padding-left: 10px;*/
    border: none;
    background-color: green;
    width:auto
       
}

.btnCancel {
    /*' display: inline-block;*/
    font-style: normal;
    text-decoration: none;
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
    /*padding-left: 10px;*/
    border: none;
    /*background-color:*/
    width: auto
}

.RegButton {
    font-style: normal;
    text-decoration: none;
    color: white;
    padding-bottom: 3px;
    padding-top: 3px;
    border: none;
    background-color: green;
    font-weight: bold;
    Font-Size: larger;
    text-wrap: normal;
}

    .RegButton:hover {
        border-color: Black;
        background-color: black;
        border-radius: 25%;
    }

    .LoginStatus:hover, .btn:hover {
        background-color: darkgreen;
    }
    /*.MenuLink:link {
        color: black;
    }*/


    .btnCancel:hover {
        color: white;
        border-color: white;
        background-color:black;
    }


.MenuLink:hover {
    color: black;
    border-color: white;
    background-color: white;
    /*border-radius: 25%;*/
    font-size: larger;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.modalPopup {
    background-color: white;
    width:200px;
    color:black;
 

}

.subjectsPopUp {
    width: 300px;
    height: 300px;
    background:gray;
}

.modal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top:0;
    background-color:lightgray;
    filter: alpha(opacity=60);
    opacity: 0.6;
    margin:auto;
    /*-moz-opacity: 0.8;*/
}

.center {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 130px;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    /*-moz-opacity: 1;*/
}

    .center img {
        height: 128px;
        width: 128px;
    }
div.SideBarWidth {
    width: 15%
}


.divMainLogin {
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    width:100%;
}

.RegisterbuttonsDiv {
    display: flex;
    justify-content: flex-start;
    background-color: whitesmoke;
}

.divPanelMainRegVisible {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divPanelMainRegHidden {
    display: none;
}


.col {
    flex: 0 0 auto;
}


.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.ToogleImage {
    display: flex;
}


@media only screen and (min-width: 768px) {

    div.ToogleImage {
        display: none;
    }

    div.divMenu {
        display: flex;
        /*float:right;*/
        flex-wrap: nowrap;
        flex-direction: column;
        vertical-align: middle;
        height: 100%;
    }


    div.RegisterbuttonsDiv {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
    }

    div.divMain {
        width: 100%;
    }

    div.divMainStandard {
        width: 50%;
    }

    div.divMenu2 {
        display: none;
    }


    div.divMainLogin {
        width: 30%;
        margin: auto
    }



   div .SideBarWidth {
        width: 20%;
    }
   div .inputtext {
      
        width: 100%;
 
    }
    div.inputtextLogin {
        width: 50%;
    }

    div.LoginButton1 {
      
        width: 100%
    }
    div.RegisterButton {
        width: 50%
    }
    div.Inputdiv
    {
        width:100%
    }
    div.ddlinput
    {
        width:100%
    }

    div.HeaderWidth
    {
        width:50%
    }

    div.inputtextReadOnly
    {
        width:90%
    }

  
}
